<div class="container mt-5">
    <div class="card">
      <div class="card-header text-center bg-primary text-white">
        <h4>Login Form</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input id="email" type="email" formControlName="email" class="form-control" 
                  [class.is-invalid]="loginForm.get('email')?.touched">
                  <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="invalid-feedback">
                    Please enter a valid email address.
                  </div>
                </div>
     
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input id="password" type="password" formControlName="password" class="form-control" 
                  [class.is-invalid]="loginForm.get('password')?.touched">
                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="invalid-feedback">
                    Password must be at least 6 characters long.
                  </div>
                </div>
     
                <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
              </form>
            </div>
          </div>
        </div>
       